WebScrapping/bin/Debug/netcoreapp3.1/google.pdf
WebScrapping/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.WebUtilities.dll
WebScrapping/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
WebScrapping/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
WebScrapping/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
WebScrapping/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
WebScrapping/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
WebScrapping/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
WebScrapping/bin/Debug/netcoreapp3.1/Microsoft.Net.Http.Headers.dll
WebScrapping/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
WebScrapping/bin/Debug/netcoreapp3.1/PuppeteerSharp.dll
WebScrapping/bin/Debug/netcoreapp3.1/vencejos.pdf
WebScrapping/bin/Debug/netcoreapp3.1/WebScrapping.deps.json
WebScrapping/bin/Debug/netcoreapp3.1/WebScrapping.dll
WebScrapping/bin/Debug/netcoreapp3.1/WebScrapping.exe
WebScrapping/bin/Debug/netcoreapp3.1/WebScrapping.pdb
WebScrapping/bin/Debug/netcoreapp3.1/WebScrapping.runtimeconfig.dev.json
WebScrapping/bin/Debug/netcoreapp3.1/WebScrapping.runtimeconfig.json
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/79.0.3945.0.manifest
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/chrome_100_percent.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/chrome_200_percent.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/chrome_child.dll
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/chrome_elf.dll
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/chrome_proxy.exe
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/chrome_watcher.dll
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/chrome.dll
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/chrome.exe
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/D3DCompiler_47.dll
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/elevation_service.exe
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/eventlog_provider.dll
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/First Run
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/icudtl.dat
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/interactive_ui_tests.exe
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/libEGL.dll
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/libGLESv2.dll
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/nacl_irt_x86_64.nexe
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/natives_blob.bin
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/notification_helper.exe
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/resources.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/v8_context_snapshot.bin
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/ar.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/bg.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/bn.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/ca.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/cs.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/da.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/de.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/el.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/en-GB.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/en-US.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/es-419.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/es.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/et.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/fi.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/fil.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/fr.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/gu.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/he.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/hi.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/hr.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/hu.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/id.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/it.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/ja.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/kn.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/ko.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/lt.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/lv.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/ml.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/mr.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/ms.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/nb.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/nl.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/pl.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/pt-BR.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/pt-PT.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/ro.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/ru.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/sk.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/sl.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/sr.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/sv.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/ta.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/te.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/th.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/tr.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/uk.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/vi.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/zh-CN.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/locales/zh-TW.pak
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/MEIPreload/manifest.json
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/MEIPreload/preloaded_data.pb
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/swiftshader/libEGL.dll
WebScrapping/bin/Debug/netcoreapp3.1/.local-chromium/Win64-706915/chrome-win/swiftshader/libGLESv2.dll
.vs/WebScrapping/DesignTimeBuild/.dtbcache.v2
.vs/WebScrapping/v16/.suo
WebScrapping/obj/project.assets.json
WebScrapping/obj/project.nuget.cache
WebScrapping/obj/WebScrapping.csproj.nuget.dgspec.json
WebScrapping/obj/WebScrapping.csproj.nuget.g.props
WebScrapping/obj/WebScrapping.csproj.nuget.g.targets
WebScrapping/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
WebScrapping/obj/Debug/netcoreapp3.1/WebScrapping.AssemblyInfo.cs
WebScrapping/obj/Debug/netcoreapp3.1/WebScrapping.AssemblyInfoInputs.cache
WebScrapping/obj/Debug/netcoreapp3.1/WebScrapping.assets.cache
WebScrapping/obj/Debug/netcoreapp3.1/WebScrapping.csproj.CopyComplete
WebScrapping/obj/Debug/netcoreapp3.1/WebScrapping.csproj.CoreCompileInputs.cache
WebScrapping/obj/Debug/netcoreapp3.1/WebScrapping.csproj.FileListAbsolute.txt
WebScrapping/obj/Debug/netcoreapp3.1/WebScrapping.csprojAssemblyReference.cache
WebScrapping/obj/Debug/netcoreapp3.1/WebScrapping.dll
WebScrapping/obj/Debug/netcoreapp3.1/WebScrapping.exe
WebScrapping/obj/Debug/netcoreapp3.1/WebScrapping.genruntimeconfig.cache
WebScrapping/obj/Debug/netcoreapp3.1/WebScrapping.pdb
